.yellow-text {
    color: #FFE400;
}

main {
    line-height: 2em;
}

p {
    font-size: 1.1em;
}

main img {
    height: 10vh;
}

.dl-pdf:hover, .dl-pdf:visited, .dl-pdf:active, .dl-pdf:link {
    color: white;
    text-decoration: none;
}