.offer {
    background-color: black;
    border-radius: 10px;
    border: solid 1px #59FEFE;
}

.suscribe-button {
    padding: 2vh 6%;
    border-radius: 8px;
    background-color: #FFE400;
    font-size: 1.1em;
    color: black;
}

main p {
    padding-top: 2vh;
}