.offer {
    background-color: black;
    border-radius: 10px;
    border: solid 1px #59FEFE;
}

.suscribe-button {
    padding: 3vh 10%;
    border-radius: 8px;
    background-color: #FFE400;
    font-size: 1.2em;
    color: black;
}

main .speech {
    padding-top: 2vh;
    width: 70%;
    line-height: 1.8em;
}

.button-div {
    width: 30%;
    text-align: center;
    height: 20vh;
    line-height: 20vh;
}